<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @order.offer_id %>
</p>

<p>
  <strong>Cal week:</strong>
  <%= @order.cal_week %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
